input {
  border-bottom: 1px solid #000 !important;
}

.not-valid {
  border-bottom: 1px solid #cc0000 !important;
  -webkit-box-shadow: 1px solid #cc0000 !important;
  box-shadow: 1px solid #cc0000 !important;
}

.not-valid:focus {
  border-bottom: 1px solid #cc0000 !important;
  -webkit-box-shadow: 1px solid #cc0000 !important;
  box-shadow: 1px solid #cc0000 !important;
}
