input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top: 8px;
  bottom: 10px;
  left: 20px;
  font-size: 11px;
  opacity: 1;
}

.inputText {
  font-size: 14px;
  width: 200px;
  height: 35px;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 18px;
  transition: 0.2s ease all;
}

.shadow {
  -webkit-box-shadow: -8px 10px 5px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: -8px 10px 5px 0px rgba(0,0,0,0.15);
  box-shadow: -8px 10px 5px 0px rgba(0,0,0,0.15);
}